html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#map {
  height: 100%;
}
header{
  background: #29283b;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header_wrap{
  max-width: 1800px;
  padding: 7px 15px;
  margin: 0 auto;
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
select{
  background: transparent;
  color: #fff;
  &:focus{
    outline: none;
  }
}
.input_form{
  height: 44px;
  font-size: 18px;
  color: #111;
  font-weight: 100;
  padding-left: 30px;
  width: 550px;
  visibility: hidden;
  ::-webkit-input-placeholder {color:#ddd;}
  ::-moz-placeholder          {color:#ddd;}
  :-moz-placeholder           {color:#ddd;}
  :-ms-input-placeholder      {color:#ddd;}
  &:focus{
    outline: none;
  }
}
.city_hidden{
  display: none;
}
.fa-github{
  color: #ffffff;
  font-size: 36px;
}

.form_search{
  position: relative;
}
.result_wrap{
  position: fixed;
  overflow-y: scroll;
  background: #fff;
  width: 585px;
  max-height: 500px;
  min-height: 102px;
  display: none;
  .result_item{
    display: flex;
    align-items: center;
    padding: 25px 15px;
    border-bottom:1px solid #cccccc ;
    .result_title{
      flex: 1;
      display: flex;
      .result_title-contact{
        width: 130px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .result_title-name{
          font-size: 18px;
        }
        .result_title-phone{
          font-size: 14px;
          color: #dddddd;
        }
      }
    }
    .result_info{
      flex: 1;
      width: 65px;
      display: flex;
      height: 45px;
      flex-direction: column;
      justify-content: space-around;
      .fa{
        color: #d1d1d4;
      }
      .result_links{
        display: flex;
        justify-content: space-between;
      }
      .result_info_message{
        color: #78787f;
      }
    }
    .result_count{
      flex: 4;
      justify-content: flex-end;
      display: flex;
      .result_count_number{
        font-size: 32px;
        color: #828289;
        font-weight:bold;
      }
      .result_count_description{
        font-size: 12px;
        color: #828289;
        text-transform: uppercase;
      }
      .best_count{
        color: #4caf50;
      }
    }
    .result_count_wrap{
      width: 72px;
      text-align: center;
    }
  }
}
.choose_taxi{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  text-align: center;
  width: 140px;
  padding: 12px;
  margin: 5px;
  background: #ffcc47;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.result_item:first-child{
  .result_count_wrap{
    .result_count_number, .result_count_description{
      color: #4caf50;
    }
  }
}