html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#map {
  height: 100%;
}
header{
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header_wrap{
  max-width: 1800px;
  padding: 7px 15px;
  margin: 0 auto;
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.result_wrap{
  .result_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-bottom:1px solid #cccccc;
    .result_title{
      display: flex;
      .result_title-contact{
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .result_title-name{
          font-size: 18px;
        }
        .result_title-phone{
          font-size: 14px;
          color: #dddddd;
        }
      }
    }
    .result_count{
      .result_count_number{
        font-size: 32px;
        color: #828289;
        font-weight:bold;
      }
      .result_count_description{
        font-size: 12px;
        color: #828289;
        text-transform: uppercase;
      }
      .best_count{
        color: #4caf50;
      }
    }
    .result_count_wrap{
      width: 72px;
      text-align: center;
    }
  }
}
.choose_taxi{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  text-align: center;
  width: 140px;
  padding: 12px;
  margin: 5px;
  background: #ffcc47;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.result_item:first-child{
  .result_count_wrap{
    .result_count_number, .result_count_description{
      color: #4caf50;
    }
  }
}

.center_my_location{
  position: absolute;
  right: 420px;
  background: transparent;
  border: none;
  &:hover{
    fill: #2C5F9B;
    transition: fill .4s;
  }
  &:focus{
    outline: none;
  }
  &:active .center_my_location_svg_button{
    outline: none;


  }
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 408px;
  background: #fff;
  z-index: 3;
  right: 0;
  top: 0;
  opacity: .9;
  overflow-y: scroll;
}
.result_title-icon{
  width: 34px;
  img{
    max-width: 100%;
  }
}
.result_title-phone{
  background: #ffcc47;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  border: none;
  &:focus, &:active{
    outline: none;
  }
}
.logotype{
  margin: 15px;
}
.button{
  display: none;
}
.result_info{
  min-width: 135px;
  height: 40px;
  text-align: center;
}
.copyright{
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  display: block;
  text-align: center;
  font-size: 12px;
  img{
    position: relative;
    bottom: -7px;
  }
}
@media (max-width: 600px) {
  .sidebar{
    display: none;
  }
  .button{
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    text-align: center;
    padding: 15px 10px;
    font-weight: 800;
    background: #ffcc47;
    text-transform: uppercase;
  }
  .logotype{
    img{
      margin: auto;
      display: block;
    }
  }
}
